.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 65px;
  margin-bottom: 71px;
}

.footer__hr {
  width: 1147px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1147px;
}

.footer__menu_logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #585858;
}

.footer__menu_list {
  display: flex;
  column-gap: 25px;
}

.footer__menu_list_item {
  list-style: disc;
  color: #8f95a5;
}

.footer__menu_llist_item_link {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: #8f95a5;
}
