.authu {
  display: flex;
  align-items: center;
}
.auth {
  display: flex;
  column-gap: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.auth__login_btn,
.auth__reg_btn {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.auth__login_btn {
  color: #85adff;
}
