@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f3f5f9;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
