.authForm {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.authForm__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.authForm__form_email_error {
  color: red;
  font-size: 12px;
}

.authForm__form_email,
.authForm__form_password {
  max-width: 300px;
  padding: 8px 16px;
  border-radius: 7px;
  background: rgba(132, 188, 213, 0.12);
  display: flex;
  flex-direction: column;
}

.authForm__form_email_placeholder,
.authForm__form_password_placeholder {
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  margin-bottom: 8px;
  color: rgba(64, 58, 75, 0.6);
}

.input_icon_email,
.input_icon_password {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
}

.authForm__form_email input,
.authForm__form_password input {
  width: 200px;
  font-size: 10px;
  background-color: transparent;
  outline: none;
  border: none;
}

.authForm__form_email input:focus,
.authForm__form_password input:focus {
  border: none;
}

.input_icon_email input::placeholder,
.input_icon_password input::placeholder {
  font-size: 10px;
}

.authForm__form_btn {
  max-width: 273px;
  border: none;
  height: 40px;
  background: #85adff;
  border-radius: 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.forgot_your_password {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}
